@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

h1, h2, h3, h4 {
	font-family: "Roboto";
	font-weight: normal;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 21px;
}

tr {
	border: 1px solid white;
}

::-webkit-input-placeholder {
	color: #fff;
}

:-moz-placeholder {
	color: #fff;
	opacity: 1;
}

::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #fff;
}
