/* Global components */
.white-button {
	display: inline-block;

	padding: 10px 15px;
	border: 1px solid white;
	font-weight: bold;
	font-size: 15px;
}

/* Main menu (on the left) */
.main-menu {
	position: fixed;
	display: inline-block;
	width: 250px;
	height: 100vh;

	background-color: #e74c3c;
}

.main-menu-nav {
	margin-top: 30px;

	font-size: 28px;
	font-family: "Roboto";
}

.main-menu-nav-item {
	display: block;

	color: #fff;
	text-decoration: none;
	padding-left: 10px;
}

.main-menu-nav-item:hover {
	background-color: #fff;
	color: #e74c3c;
}

.main-menu-form {
	position: absolute;
	width: 250px;
	bottom: 0;
	padding-top: 10px;
}

.main-menu-form-inputs {
	padding-left: 5px;
	padding-right: 5px;
}

.main-menu-form-inputs > * {
	width: 100%;
}

.main-menu-form-title {
	font-size: 28px;
	color: #fff;
}

.main-menu-form-input {
	display: block;

	color: #fff;
	background-color: #e74c3c;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 5px;
	margin: 5px 0;
	padding: 7px 7px;
}

.main-menu-form-submit {
	width: 100%;
	margin-top: 10px;
	padding: 15px 0;

	color: #fff;
	background-color: #c0392b;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* Content */
.main-content {
	margin-left: 250px;
}

/* Homepage content (film list) */
.film {
	display: block;
	height: 441px;
}

.film-1 {
	background-color: #3498db;
	border-right: 18px solid #2980b9;
}

.film-2 {
	background-color: #2980b9;
	border-right: 18px solid #3498db;
}

.film-poster {
	width: 300px;
	height: inherit;

	background-color: white;
}

.film-info {
	position: relative;
	height: inherit;
	margin-left: 300px;
	padding: 20px 0 20px 20px;

	color: #fff;
}

.film-info-header {
	margin-bottom: 25px;
}

.film-info-left {
	width: 55%;
}

.film-info-text h2 {
	margin-bottom: 15px;
}

.film-info-times {
	width: 35%;
	margin-left: 10%;

	list-style: none;
}

.film-info-times h2 {
	margin-bottom: 10px;
}

.film-info-time {
	text-align: center;
	margin: 5px 5px 5px 0;
}

.film-info-misc {
	position: absolute;
	display: inline-block;
	max-width: 50%;

	bottom: 20px;
	left: 20px;
}

.film-info-misc .white-button {
	margin-top: 12px;
}

/* Film information page */
.film-details {
	display: inline-block;

	padding: 20px;
	border-right: 25px solid #2980b9;
	color: #fff;
	background-color: #3498db;
	text-align: justify;
}

.film-details-left {
	width: 60%;
}

.film-details-left h2 {
	margin-bottom: 10px;
}

.film-details-vid {
	margin-top: 20px;
}

.film-details-desc {
	margin-top: 20px;
	font-size: 18px;
}

.film-details-info {
	margin-top: 15px;
}

.film-details-cast {
	margin-top: 15px;
}

.film-details-cast ul {
	list-style: none;
}

.film-details-right {
	max-width: 300px;
	text-align: right;
}

.film-details-times {
	margin-top: 20px;
	text-align: left;
}

.film-details-time {
	width: 100%;

	text-align: center;
	margin-top: 10px;
}
