/*
 * Basics - reset, page size...
 */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;

	font-family: "Raleway";
	font-weight: normal;
}

/*
 * Font definitions
 */
@font-face {
	font-family: "Bebas Neue";
	src: url("../font/BebasNeue.otf");
}

@font-face {
	font-family: "Raleway";
	font-weight: normal;

	src: url("../font/Raleway-Regular.ttf");
}

@font-face {
	font-family: "Raleway";
	font-weight: 600;

	src: url("../font/Raleway-SemiBold.ttf");
}

/*
 * Table
 */
td {
	background-color: #202023;
	padding: 15px 15px;
}

td:first-child {
	background-color: #38383e;
}

/*
 * Global componenets
 */
.button {
	padding: 10px;
	border: 1px solid white;

	color: #fff;
	text-decoration: none;
}
